body {
  margin: 0 auto;
  max-width: 1200px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  border: 1rem solid black;
  background-color: black;
  margin: 1rem;
}

.sub-container1 {
  display: flex;
  flex-direction: row;
  background-color: #2d4059;
  width: 100%;
}
.item {
  background-color: #ea5455;
  margin: 1rem;
  height: 1rem;
  flex-grow: 1;
}
.item2 {
  background-color: #ea5455;
  margin: 1rem 0;
  height: 1rem;
  flex-grow: 5;
}

.sub-container2 {
  background-color: #f07a3f;
  margin-top: 0.5rem;
}

.item3 {
  background-color: #fdd460;
  margin: 1rem;
  height: 1rem;
}
.flex-container2 {
  display: flex;
  border: 1rem solid black;
  background-color: black;
  margin: 1rem;
}

.first-container {
  background-color: #4e4e6a;
  display: flex;
  flex-direction: row;
  width: 70%;
  flex-wrap: wrap;
  padding: 0.5rem;
  
}
.box {
  margin: 0.5rem;
  height: 1rem;
  background-color: #206bb0;
  align-items: center;
  width: 40%;
  flex-grow: 1;
}

.box2 {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  height: 1rem;
  background-color: #70a3c4;
  width: 100%;
}
.second-container {
  background-color: #f73e51;
  margin-left: 1rem;
  width: 30%;
}
.mid-item {
  background-color: #feea84;
  margin: 1rem;
  height: 1rem;
}

.flex-container3 {
  display: flex;
  border: 1rem solid black;
  background-color: #e5af2d; 
  margin: 1rem;
}
.ending-item {
  height: 1rem;
}

/* media querie para tablets */
@media only screen and (max-width: 800px) {
  .flex-container2 {
    flex-wrap: wrap;
    border: 1rem solid yellow;
    background-color: yellow;
  }

  .first-container {
    width: 100%;
  }
  .second-container {
    margin-top: 1rem;
    margin-left: 0rem;
    width: 100%;
  }
}
/* media querie para mobiles*/
@media only screen and (max-width: 600px) {
  .sub-container1 {
    flex-direction: column;
  }
  .item {
    flex-grow: 0;
  }
  .item2 {
    margin: 0 1rem;
    flex-grow: 0;
  }
  .sub-container2 {
    background-color: #f07a3f;
    margin-top: 1rem;
  }
  .flex-container2 {
    border: 1rem solid #fde227;
    background-color: #fde227;
  }
  .first-container {
    background-color: #0a506f;
  }
  .box {
    background-color: #61959c;
    width: 100%;
  }
  .box2 {
    background-color: #a3dccb;
  }
  .second-container {
    background-color: #fc7b54;
  }
  .mid-item {
    background-color: #fdb36b;
  }
  .flex-container3 {
    background-color: #fdc764;
  }
}